<html>

<head>
    <title>Check Majority</title>
</head>

<body>
    <form action="/check" method="POST">
        <input type="text" name="userName" />
        <input type="date" name="birthDate"/>
        <button type="submit">Check Majority</button>
    </form>
</body>

</html>